<div>
  <nav class="navbar navbar-expand navbar-dark bg-info">
    <a href="#" class="navbar-brand">Prueba tecnica</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="empresas" class="nav-link">Empresas</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_empresa" class="nav-link">Agregar empresa</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Agregar Empleado</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>